canvas.background
canvas.main
input#chk-info-toggle(type="checkbox")
div.info-panel
	h2 Particle Glow
	p An HTML5 canvas experiment
	p Hover to repel particles
	p Mouse down to attract particles
	p Options are randomized on page load
	p Press 'e' to export image
	label#lbl-info-toggle(for="chk-info-toggle") 
		i.icon-info.ion-chevron-right(aria-hidden="true")